.header {
    margin: auto;
    /* flex: 1 0 auto; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10rem;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

.mandy {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    z-index: -1;
    text-align: left;
    width: 120%;
}

img {
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    height: 100vh;
    width: 90%;
}

.name {
    text-shadow: 2px 2px black;
    background-color: transparent;
    color: white;
    font-size: 68px;
    z-index: 1;
    position: absolute; /* this line over-write .header properties*/
    width: 100%;
    margin-top: -28%;
}

.header__message {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5rem;
}

.message__title {
    padding-bottom: 1%;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 10px 30%;
}

.header__icon {
    height: 50px;
    width: 50px;
    margin: 30px;
}

hr.dividers {
    border-top: 5px solid grey;
}

/************ media queries (medium devices) ************/
@media screen and (max-width: 1024px) {
    .header {
        margin-left: -25%;
        margin-right: -25%;
    }

    .mandy {
        width: 100%;
    } 

    img {
        height: 100vh;
        width: 100%;
    }

    .name {
        font-size: 62px;
        margin-top: -70%;
        margin-left: 10%;
    }

    .message {
        padding: 2%;
        line-height: 1.5rem;
        font-size: 23px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 15%;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 2rem;
    }
    .grid__container{
        margin-left: 15%;
    }
    .header__icon {
        height: 50px;
        width: 50px;
        margin: 30px;
    }
}

/************ media queries (small devices) ************/
@media screen and (max-width: 600px) {
    .header {
        padding-bottom: 10rem;
        margin-left: 0%;
        margin-right: 0%;
    }

    img {
        height: 60vh;
        width: 100%;
    }

    .name {
        font-size: 50px;
        margin-top: -60%;
        margin-left: 1%;
    }

    .message__title {
        margin-bottom: 1rem;
    }

    .message {
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1%;
        padding-left: 15%;
        padding-right: 15%;
        line-height: 1.5rem;
    }

    .grid__container { 
        display: none; 
    }

    .header__icon {
        display: none;
    }

}