header {
    margin: auto;
    flex: 1 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

/* img {
    display: block;
    max-width: 100%;
    object-fit: cover;
} */

img {
    width: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    height: 100%;
}

h1 {
    background-color: transparent;
    color: white;
    font-size: 68px;
    z-index: 1;
}

.mandy {
    position: fixed;
    top: 12%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    height: 100vh;
    z-index: -1;
}

.content {
    margin: auto;
    /* flex: 1 0 auto; */
    /* flex: 1; */
    /* width: 100%;
    align-content: center;
    text-align: center; */
}

.header__content {
    position: absolute;
    min-height: 100vh;
    top: 50%;
    text-align: center;
    /* width: 60%; */
    /* left: 50%; */
    /* align-content: center; */
    /* text-align: center; */
    font-size: 18px;
}

.name {
    width: 100%;
    height: 50vh;
    text-shadow: 2px 2px black;
}

.header__message {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.message {
    margin-left: 20%;
    margin-right: 20%;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 10px 30%;
    height: 60vh;
}

.header__icon {
    height: 50px;
    width: 50px;
    margin: 30px;
}

hr.dividers {
    border-top: 5px solid grey;
}

/************ media queries (medium devices) ************/
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
    
    .mandy {
        width: var(--container-width-md);
        position: relative;
        /* width: 48rem; */
        width: 100%;
        left: 0;
    }
    
    .grid__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 0;
        padding: 0 5rem;
        height: auto;
    }
}

/************ media queries (small devices) ************/
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .mandy {
        width: var(--container-width-sm);
        position: relative;
        width: 100%;
        left: 0;
    }

    img {
        height: 70vh;
    }

    .name {
        font-size: 5vh;
    }

    .grid__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 0;
        padding: 0 0;
        row-gap: 0;
        position: relative;
    }
}