.header {
    margin: auto;
    /* flex: 1 0 auto; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10rem;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}

.mandy {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    z-index: -1;
    text-align: left;
    width: 120%;
}

img {
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    height: 100vh;
    width: 90%;
}

.name {
    text-shadow: 2px 2px black;
    background-color: transparent;
    color: white;
    font-size: 68px;
    z-index: 1;
    position: absolute; /* this line over-write .header properties*/
    width: 100%;
    margin-top: -28%;
}

.header__message {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.5rem;
    /* width: 60%; */
    /* margin-left: 20%; */
    /* left: 50%; */
    /* text-align: center; */
}

.message__title {
    padding-bottom: 1%;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 10px 30%;
}

.header__icon {
    height: 50px;
    width: 50px;
    margin: 30px;
}

hr.dividers {
    border-top: 5px solid grey;
}

/************ media queries (medium devices) ************/
@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 8rem;
        width: 125%;
    }

    .mandy {
        position: relative;
        width: 100%;
        left: 0;
    }

    img {
        height: 120vh;
    }

    .name {
        font-size: 62px;
        margin-top: -120%;
    }

    .message {
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        padding: 2%;
        padding-right: 10%;
        padding-left: 10%;
        line-height: 1.5rem;
    }
    
    .header__icon {
        height: 50px;
        width: 50px;
        margin: 30px;
    }
}

/************ media queries (small devices) ************/
@media screen and (max-width: 600px) {
    .header {
        padding-bottom: 10rem;
        width: 20%;
    }

    .mandy {
        position: relative;
        width: 100%;
        left: 0;
    }

    img {
        height: 50vh;
    }

    .name {
        font-size: 30px;
        margin-top: -50%;
    }

    .message {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .grid__container { 
        display: none; 
    }

    .header__icon {
        display: none;
    }

}