.footer{
    position: absolute;
    bottom: 0;

    width: 100%;

}

.footer__main {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: white;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-size: 30px;
}

.footer__socials a {
    background-color: rgb(39, 39, 101);
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: var(--color-blue);
    color: lightblue;
    border-color: black;
}

.footer__copyright {
    color: white;
}

/************ media queries (medium devices) ************/
@media screen and (max-width: 1024px) {
    .footer__copyright {
        margin-left: 0;
    }
}

/************ media queries (small devices) ************/
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    footer {
        position: relative;
        width: 100%;
        padding: 0 0;
        bottom: 0;
        margin-top: 40rem;
    }
}