@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Island+Moments&family=Noto+Sans+HK&family=Old+Standard+TT:wght@400;700&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Beau+Rivage&family=Island+Moments&family=Noto+Sans+HK&family=Old+Standard+TT:wght@400;700&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    min-height: 100vh; 
    overflow: auto; 
}

:root {
    --color-bg: #202038;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-blue: rgb(62, 8, 249);
    --color-light: #rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 80%;
    --container-width-sm: 90%;
}
#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

body {
    font-family: "Arimo", "Old Standard TT", "serif", "sans-serif";
    background: var(--color-bg);
    color: var(--color-white);
    background-image: url(../src/assets/bg-texture-tri.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
    /* width: 100vh; */
    text-align: center; 
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.6rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    margin-right: 1rem;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

/************ media queries (medium devices) ************/
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
   
}

/************ media queries (small devices) ************/
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
}